/* //Estilos generales */
:root {
  --custom-gradient: linear-gradient(to right, #882091, #6f42c1);
}

.card-item a {
  text-decoration: none;
  color: black;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*ESTILOS CABECERA*/

.header {
  grid-area: header;
  padding: 0.4%;
  background: white;
  border: 2px solid black;
  text-align: center;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.text-white:hover {
  list-style: none;
  transition: all 500ms;
  transform: scale(1.1, 1.1);
}

.custom-toggle {
  /* color: white; */
  background-color: white;
}

.form-border {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}
